<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>ETDA Relying Party (RP)</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet" >

    <link href="bootstrap-social.css" rel="stylesheet" >

    <!-- Stylesheets -->
</head>
<body>
  <div class="container">
    <br/>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=proxy_default">
      <span class="fa fa-openid"></span> Sign in with Proxy Default
    </a>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=proxy_public">
      <span class="fa fa-openid"></span> Sign in with Proxy (sector:public)
    </a>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=proxy_ial_aal_2">
      <span class="fa fa-openid"></span> Sign in with Proxy (IAL AAL 2)
    </a>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=proxy_ial_aal_3">
      <span class="fa fa-openid"></span> Sign in with Proxy (IAL AAL 3)
    </a>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=proxy_google">
      <span class="fa fa-openid"></span> Sign in with Proxy (Google)
    </a>
    <a class="btn btn-block btn-social btn-openid" href="/login?idp=proxy_google_identity-server">
      <span class="fa fa-openid"></span> Sign in with Proxy (Google & Identity-Server)
    </a>
    <a class="btn btn-block btn-social btn-flickr" href="/login?idp=d1_proxy">
      <span class="fa fa-flickr"></span> Sign in with D1 Proxy
    </a>
     <a class="btn btn-block btn-social btn-flickr" href="/login?idp=omise_proxy">
      <span class="fa fa-flickr"></span> Sign in with Omise Proxy
    </a>
  </div>
</body>
</html>
